* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
    position: relative;
    overflow: hidden;
}

body::before, 
body::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 1;
}

body::before {
    border-width: 100vh 50vw 0 0;
    border-color: blue transparent transparent transparent;
    top: 0;
    left: 0;
}

body::after {
    border-width: 0 0 100vh 50vw;
    border-color: transparent transparent red transparent;
    bottom: 0;
    right: 0;
}

section {
    position: relative;
    z-index: 2;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 3, 155, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

h1 {
    font-size: 2rem;
    color: #000;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #091ea4;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #091ea4;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.7s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: black;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2rem;
    top: 20px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(54, 79, 199);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgb(213, 25, 25);
}

.register {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}
